body {
  background-color: #31378fee;
  color: white;
}

.main {
  height: 100%;
  display: grid;
  grid-template-columns: 9fr 10fr;
  grid-template-rows: 70px 3fr 2fr;
  grid-template-areas:
    'navbar navbar'
    'wrapped-content1 wrapped-content4'
    'wrapped-content2 wrapped-content3';

}

.wrapped-content1 {
  grid-area: wrapped-content1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 40px;
}

.wrapped-content2 {
  grid-area: wrapped-content2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 40px;
}

.wrapped-content3 {
  grid-area: wrapped-content3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.wrapped-content4 {
  grid-area: wrapped-content4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
}

.navbar {
  grid-area: navbar;
}