.place-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.city {
    margin: 0px;
    font-size: 6rem;
    text-shadow: 2px 2px 5px #000;
    text-align: start;
    font-family: 'VictorMono-Regular';
}

.state {
    margin: 0px;
    width: 100%;
    font-size: 2.4rem;
    text-align: end;
    padding-right: 20px;
    box-sizing: border-box;
    text-shadow: 1px 1px 4px #000;
    font-family: 'VictorMono-Regular';
}

.country {
    margin: 0px;
    width: 100%;
    font-size: 1.3rem;
    text-align: end;
    padding-right: 20px;
    box-sizing: border-box;
    text-shadow: 1px 1px #000;
}